<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="../static/css/jquery-3.1.1.js"></script>
    <script src="../static/js/bootstrap.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../static/css/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>专用</title>
</head>
<body>

<div class="container">
    <div style="margin-top: 50px;"> </div>
    <div  class="row-cols-12" style="margin-top: 30px;">
        <div th:each="list:${item}"  class="alert alert-info" role="alert">
            <a th:text="${{list.fileName}}+ '------- 图片地址：'"></a>
           <a th:href="${{list.url}}" th:text="${{list.url}}"> </a>
        </div>
    </div>

</div>


</body>
</html>